@model Web_Table01.Models.Sach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNXB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSach">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
