@model LVQ_Day09Lab.Models.Lvq_KhachHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lvq_KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_MaKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_MaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_HoTenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_HoTenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_NgayDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_NgayDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lvq_TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lvq_TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Lvq_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
