@model IEnumerable<LVQ_Day09Lab.Models.Lvq_ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_SoLuongMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_DonGiaMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_HoaDon.Lvq_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_SanPham.Lvq_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_SoLuongMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_DonGiaMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Lvq_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Lvq_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Lvq_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
