@model IEnumerable<LVQ_Day09Lab.Models.Lvq_HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_MaHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_NgayHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_NgayNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_HoTenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_TongTriGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lvq_TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_MaHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_KhachHang.Lvq_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_NgayHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_NgayNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_HoTenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_TongTriGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvq_TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Lvq_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Lvq_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Lvq_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
